<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #e2e2e0;
  }
</style>

<main>
  <h1>Divisor de conta de restaurante</h1>

  <section id="content-box">

    <div class="content">
      <div class="box box-cliente">
        <h3 for="">Cliente: </h3>
        <input type="text" name="" placeholder="Nome do cliente" [(ngModel)]="clienteNome" maxlength="15">
        <h3 for="">Taxa serviço?</h3>
        <div id="box-taxa">
          <input type="radio" value="sim" id="taxaServicoSim" name="taxa-servico" [(ngModel)]="taxaServico">
          <label for="sim">Sim</label>
          <input type="radio" value="nao" id="taxaServicoSim" name="taxa-servico" [(ngModel)]="taxaServico">
          <label for="nao">Não</label>
        </div>

        <button (click)="adicionarCliente()">Adicionar</button>
      </div>

      <div class="clientes-box">
        <h2>Clientes: </h2>
        <ul>
          <li *ngFor="let cliente of listaCliente">
            <div>
              <p><strong>Nome:</strong> {{ cliente.nome }}</p>
            </div>
            <div>
              <p><strong>Taxa:</strong> {{ cliente.taxaServico }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="content">
      <div class="box">
        <h3 for="">Produto: </h3>
        <input type="text" name="" id="" [(ngModel)]="produtoNome" placeholder="Nome do produto">
        <input type="number" name="" id="" [(ngModel)]="produtoValor" placeholder="Valor do produto">

        <p for="" style="font-size: 1.3rem;">Quem consumiu</p>

        <select name="" id="" aria-placeholder="Quem consumiu" [(ngModel)]="consumidoresSelecionados" multiple
          style="width: 50%;">
          <option *ngFor="let cliente of listaCliente" [value]="cliente.nome" style="font-size: 1.2rem;">
            {{ cliente.nome }}
          </option>
        </select>
        <button (click)="adicionarProduto()">Adicionar</button>
      </div>

      <div class="produtos-box">
        <h2>Produtos: </h2>
        <ul>
          <li *ngFor="let produto of listaProduto" class="produto-box">
            <div>
              <p><strong>Nome:</strong> {{ produto.nome }}</p>
            </div>
            <div>
              <p><strong>Valor:</strong> {{ produto.valor }}</p>
            </div>
            <div>
              <p><strong>Consumidores:</strong> {{ getConsumidoresProduto(produto) }}</p>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </section>

  <button (click)="calcularGastoClientes()">CALCULAR</button>

  <section class="result">
    <div>
      <ul>
        <li *ngFor="let cliente of listaCliente">
          <p><strong>{{ cliente.nome }}: R$ {{ cliente.gasto.toFixed(2) }}</strong></p>
        </li>
      </ul>
    </div>
  </section>

</main>